<template>
  <div class="content" :class="{ isCollapse: isCollapse }">
    <div class="header">
      <div class="navbar">
        <div class="collapse">
          <el-icon v-if="!isCollapse" size="15px" @click="changeMenu"
            ><fold
          /></el-icon>
          <el-icon v-else size="15px" @click="changeMenu"><expand /></el-icon>
        </div>
        <div>
          <el-breadcrumb :separator-icon="ArrowRight">
            <transition-group appear name="breadcrumb">
              <el-breadcrumb-item
                v-for="routerItem in router.currentRoute.value.matched"
                :key="routerItem.path"
                :to="routerItem.path"
                >{{ routerItem.meta.title }}</el-breadcrumb-item
              >
            </transition-group>
          </el-breadcrumb>
        </div>
      </div>

      <div class="toolbar">
        <el-dropdown trigger="click">
          <span class="logout">
            <el-avatar :src="avatars" :size="22"></el-avatar>
            <p>{{name }}</p>
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item @click="logout">
                <el-icon><switch-button /></el-icon>退出登录</el-dropdown-item
              >
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
    </div>

    <el-divider class="divider"></el-divider>

    <div class="body">
      <el-tabs
        v-model="currentTabIndex"
        type="border-card"
        @tab-remove="removeTab"
        @tab-click="clickTab"
        class="el-tabs"
      >
        <el-tab-pane
          v-for="item in openTabs"
          :key="item.name"
          :label="item.title"
          :name="item.name"
          :closable="item.closable"
        >
        </el-tab-pane>
      </el-tabs>
      <router-view>
        <template #default="{ Component, route }">
          <transition appear name="fade-transform" mode="out-in">
            <component :is="Component" :key="route.fullPath" />
          </transition>
        </template>
      </router-view>
    </div>
  </div>
</template>

<script lang="ts">
interface TabJson {
  name: number;
  path: string;
  title: string;
  closable: boolean;
}
import { useRouter } from "vue-router";
import { ArrowRight } from "@element-plus/icons-vue";
import { computed, ref, watch } from "@vue/runtime-core";
import store from "../../store/index";
export default {
  props: ["isCollapse"],
  emits: ["changeIsCollapse"],
  setup(props: Object, context: any) {
    /**数据变量区*/
    const name = store.getters.getUserInfo!=null?store.getters.getUserInfo.name:null;
    const avatars = require("@/assets/img/avatars.jpg");
    const currentTabIndex = ref(0);
    const openTabs = ref([
      {
        name: 0,
        path: "/home",
        title: "首页",
        closable: false,
      },
    ]);

    /**计算属性区*/
    const router = computed(() => useRouter());

    /**数据监视区 */
    watch(router.value.currentRoute, (o) => {
      // console.log(router.value.currentRoute.value.matched)
      let flag = false;
      let tabs = openTabs.value;
      // 当前页面菜单已打开
      for (let i = 0; i < tabs.length; i++) {
        if (o.meta.title == tabs[i].title) {
          currentTabIndex.value = i;
          flag = true;
          break;
        }
      }
      // 打开新的页面
      if (!flag) {
        let obj: TabJson = {
          name: <number>tabs.length,
          path: <string>o.path,
          title: <string>o.meta.title,
          closable: <boolean>true,
        };
        currentTabIndex.value = tabs.length;
        tabs.push(obj);
      }
    });

    /**自定义函数区 */
    //点击按钮的时候修改父组件的数据
    const changeMenu = () => {
      context.emit("changeIsCollapse");
    };

    const logout = () => {
      store.commit("loginOut");
      router.value.push("/");
    };

    const clickTab = (tab: any) => {
      router.value.push(openTabs.value[currentTabIndex.value].path);
    };

    const removeTab = (targetName: number) => {
      const tabs = <TabJson[]>openTabs.value;
      let activeName = currentTabIndex.value;
      if (activeName === targetName) {
        tabs.forEach((tab, index) => {
          if (tab.name === targetName) {
            const nextTab = tabs[index + 1] || tabs[index - 1];
            if (nextTab) {
              activeName = nextTab.name;
            }
          }
        });
      }
      currentTabIndex.value = activeName;
      openTabs.value = tabs.filter((tab) => tab.name !== targetName);
      router.value.push(openTabs.value[currentTabIndex.value].path);
    };

    return {
      avatars,
      changeMenu,
      logout,
      router,
      currentTabIndex,
      openTabs,
      ArrowRight,
      removeTab,
      clickTab,
      name,
    };
  },
};
</script>
<style scoped>
.body {
  min-height: 100%;
  transition: margin-left 0.28s;
  background: #f0f2f5;
}
.header {
  transition: 0.28s;
  height: 48px;
  background: #fff;
  padding-right: 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  margin: 0;
  width: 100%;
}

.content {
  width: auto;
  height: 100%;
  background: fff;
  margin-left: 201px;
}

.logout {
  width: 100px;
  height: 48px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  color: #000000d9;
}

.navbar {
  display: flex;
  align-items: center;
}
.toolbar:hover {
  background: #f6f6f6;
}
.collapse {
  margin-right: 10px;
}

.collapse:hover {
  color: #409eff;
}

.el-tabs {
  height: 38px;
  border: 0;
}
/* 过度动画 */

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-leave-active {
  position: absolute;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
