<template>
  <div class="layout">
    <!-- 左侧导航区 -->
    <Menu :isCollapse="isCollapse" />
    <!-- 右侧内容区 -->
    <Content
      :isCollapse="isCollapse"
      @changeIsCollapse="isCollapse = !isCollapse"
    />
  </div>
</template>

<script lang='ts'>
import Menu from "./Menu.vue";
import Content from "./Content.vue";
import { onBeforeMount, onBeforeUpdate, ref } from "vue";
import store from "../../store/index";
import { Action, ElMessage, ElMessageBox } from "element-plus";
import { useRouter } from "vue-router";
export default {
  components: {
    Menu,
    Content,
  },
  setup() {
    const isCollapse = ref<Boolean>(false);
    let router = useRouter();

    onBeforeUpdate(() => {
      if (store.getters.getUserInfo == null) {
        ElMessageBox.alert("会话已过期，请重新登陆", "警告", {
          confirmButtonText: "OK",
          callback: (action: Action) => {
            router.push("/");
          },
        });
      }
    });

    onBeforeMount(() => {
      if (store.getters.getUserInfo == null) {
        ElMessageBox.alert("会话已过期，请重新登陆", "警告", {
          confirmButtonText: "OK",
          callback: (action: Action) => {
            router.push("/");
          },
        });
      }
    });
    return {
      isCollapse,
    };
  },
};
</script>

<style scoped>
.isCollapse {
  margin-left: 64px;
}
.layout {
  width: 100%;
  height: 100%;
}
</style>
