<template>
  <!-- 此处放系统图标或者文字 -->
  <div class="menu">
    <el-menu
      active-text-color="#fff"
      background-color="#001529"
      :default-active="route.path"
      text-color="rgba(254,254,254,0.65)"
      router
      class="el-menu"
      mode="vertical"
      :collapse="isCollapse"
      collapse-transition
      unique-opened
    >
      <el-menu-item>
        <!-- 此处放系统图标 -->
        <span style="font-size: 25px">疫苗管理系统</span>
      </el-menu-item>

      <el-menu-item class="menu-item" index="/home">
        <el-icon><house /></el-icon>
        <span>首页</span>
      </el-menu-item>

      <el-sub-menu index="/vaccineinfo" v-if='authority[0]=="1"'>
        <template #title>
          <el-icon><notebook /></el-icon>
          <span class="menu-item">疫苗基本信息管理</span>
        </template>
        <el-menu-item class="menu-item sub-menu" index="/vaccine"
          >疫苗管理</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/suppliers"
          >供应商管理</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/kind"
          >种类管理</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/storeroom"
          >库房管理</el-menu-item
        >
      </el-sub-menu>
      <el-sub-menu index="/userinfo" v-if='authority[1]=="1"'>
        <template #title>
          <el-icon><notebook /></el-icon>
          <span class="menu-item">用户基本信息管理</span>
        </template>
        <el-menu-item class="menu-item sub-menu" index="/myusers"
          >用户管理</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/role"
          >角色管理</el-menu-item
        >
      </el-sub-menu>
      <el-sub-menu index="/vaccinate" v-if='authority[2]=="1"'>
        <template #title>
          <el-icon><document /></el-icon>
          <span class="menu-item">接种管理</span>
        </template>
        <el-menu-item class="menu-item sub-menu" index="/out"
          >接种</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/record"
          >接种记录查询</el-menu-item
        >
      </el-sub-menu>
      <el-sub-menu class="sub-menu" v-if='authority[3]=="1"' index="/inventory">
        <template #title>
          <el-icon><goods /></el-icon>
          <span class="menu-item">库存管理</span>
        </template>
        <el-menu-item class="menu-item sub-menu" index="/find"
          >库存查询</el-menu-item
        >
        <el-menu-item class="menu-item sub-menu" index="/in">入库</el-menu-item>
      </el-sub-menu>

      <el-menu-item class="menu-item" index="/person">
        <el-icon><user-filled /></el-icon>
        <span>个人中心</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script lang='ts'>
import Logo from "./Logo.vue";
import { useRoute, useRouter } from "vue-router";
import store from "../../store/index";
import { computed, onMounted } from "@vue/runtime-core";
export default {
  components: { Logo },
  props: ["isCollapse"],
  setup() {
    const authority= store.getters.getUserInfo!=null?(store.getters.getUserInfo.authority).split("-"):null;

    const route = useRoute();
    return {
      route,
      authority,
    };
  },
};
</script>

<style scoped>
.menu {
  height: 100%;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: #001529;
}

.menu-item:hover {
  background: #001529;
  color: #fff;
}

.menu-item.is-active {
  background: #4091f7 !important;
}

.sub-menu {
  background: #111 !important;
  font-size: 12px;
}

.el-menu:not(.el-menu--collapse) {
  transition: width 0.28s;
  width: 201px;
  height: 100%;
}
</style>
