
<template>
  <el-dialog
    ref="ruleFormRef"
    v-model="data.dialogFormVisible"
    title="编辑"
    destroy-on-close
    draggable
  >
    <el-form
      ref="ruleFormRef"
      :model="data.singleRowData"
      label-width="120px"
      :rules="rules"
    >
      <el-form-item>
        <el-descriptions
          title="疫苗基本信息"
          direction="vertical"
          :column="5"
          border
          class="margin-top"
        >
          <el-descriptions-item
            v-for="(tableAttr, index) in data.tableAttrs.slice(0, 5)"
            :key="index"
          >
            <template #label>
              <div class="cell-item">
                {{ tableAttr.label }}
              </div>
            </template>
            {{ data.singleRowData.vaccine[tableAttr.prop] }}
          </el-descriptions-item>
        </el-descriptions>
      </el-form-item>

      <el-form-item>
        <el-descriptions
          title="供应商信息"
          direction="vertical"
          :column="3"
          border
          class="margin-top"
        >
          <el-descriptions-item
            v-for="(tableAttr, index) in data.tableAttrs.slice(6, 8)"
            :key="index"
          >
            <template #label>
              <div class="cell-item">
                {{ tableAttr.label }}
              </div>
            </template>
            {{ data.singleRowData.vaccine[tableAttr.prop] }}
          </el-descriptions-item>
        </el-descriptions>
      </el-form-item>

      <el-form-item>
        <el-descriptions
          title="其他信息"
          direction="vertical"
          :column="2"
          border
          class="margin-top"
        >
          <el-descriptions-item
            v-for="(tableAttr, index) in data.tableAttrs.slice(9, 11)"
            :key="index"
          >
            <template #label>
              <div class="cell-item">
                {{ tableAttr.label }}
              </div>
            </template>
            {{ data.singleRowData.vaccine[tableAttr.prop] }}
          </el-descriptions-item>
        </el-descriptions>
      </el-form-item>

      <el-divider />
      <el-descriptions title="出库操作">
        <el-descriptions-item>
          <el-row>
            <el-form-item label="接种者信息" required>
              <el-autocomplete
                placeholder="请输入接种者信息"
                :fetch-suggestions="querySearchAsync"
                @select="handleSelect"
                v-model="state"
              />
            </el-form-item>
          </el-row>
          <el-row>
            <el-form-item>
              <el-descriptions class="margin-top" :column="2" border>
                <el-descriptions-item>
                  <template #label>
                    <div class="cell-item">
                      <el-icon>
                        <notebook />
                      </el-icon>
                      接种者编号
                    </div>
                  </template>
                  {{ data.singleRowData.vaccinatorNum }}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template #label>
                    <div class="cell-item">
                      <el-icon>
                        <user />
                      </el-icon>
                      接种者姓名
                    </div>
                  </template>
                  {{ data.singleRowData.vaccinatorName }}
                </el-descriptions-item>
              </el-descriptions>
            </el-form-item>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="数量" required prop="quantity">
                <el-input v-model.number="data.singleRowData.quantity" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="单价" required prop="price">
                <el-input v-model="data.singleRowData.price" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="接种处理人">
                <el-input disabled v-model="name" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="接种时间" disabled>
                <el-input disabled v-model="data.singleRowData.date" />
              </el-form-item>
            </el-col>
          </el-row>
        </el-descriptions-item>
      </el-descriptions>
    </el-form>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogCancel(ruleFormRef)">取消</el-button>
        <el-button type="primary" @click="dialogConfirm(ruleFormRef)"
          >确认</el-button
        >
      </span>
    </template>
  </el-dialog>
</template>

<script lang="ts">
import { ref } from "vue";
import store from "../../../../store/index";
import { rules } from "./validators";
import { ElNotification } from "element-plus";
import axios, { AxiosResponse } from "axios";
export default {
  props: ["data"],
  emits: ["dialogConfirm", "dialogCancel"],
  setup(props: any, context: any) {
    const name =
      store.getters.getUserInfo != null ? store.getters.getUserInfo.name : null;
    const state = ref("");
    const ruleFormRef = ref(); // 新增组别表单 DOM

    const dialogConfirm = () => {
      ruleFormRef.value.validate((valid: any) => {
        if (valid) {
          context.emit("dialogConfirm");
        } else {
          return false;
        }
      });
    };
    const dialogCancel = () => {
      context.emit("dialogCancel");
    };
    const handleSelect = (item: DataItem) => {
      state.value = "";
      context.emit("handleSelect", item.data);
    };
    class DataItem {
      value: String;
      data: Object;
      constructor() {
        this.value = "";
        this.data = {};
      }
    }
    let timeout: NodeJS.Timeout;
    const querySearchAsync = (queryString: string, cb: (arg: any) => void) => {
      let results: DataItem[] = [];
      if (queryString.trim() != "") {
        let parameters = {
          startPage: 1,
          pageSize: 10,
          searchModel: queryString,
        };
        axios
          .post("api/fuzzySearch/userinfo.myusers", {
            code: 0,
            data: parameters,
            msg: null,
          })
          .then((res: AxiosResponse) => {
            let myData = res.data;
            if (myData.code == 1000) {
              let data = myData.data.list;
              data.forEach((element: any) => {
                let temp = new DataItem();
                temp.value = element.num + element.name;
                temp.data = element;
                results.push(temp);
              });
            }
          })
          .catch((err: any) => {
            ElNotification({
              title: "错误",
              message: err,
              type: "error",
            });
          });
      }
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        cb(results);
      }, 3000 * Math.random());
    };
    return {
      state,
      dialogCancel,
      dialogConfirm,
      name,
      ruleFormRef,
      rules,
      querySearchAsync,
      handleSelect,
    };
  },
};
</script>

<style>
.cell-item {
  display: flex;
  align-items: center;
}
</style>