<template>
  <div>
    <el-table :data="tableData" border >
     <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="序号" fixed></el-table-column>
      <el-table-column
        v-for="(tableAttr, index) in tableAttrs"
        :key="index"
        :prop="tableAttr.prop"
        :label="tableAttr.label"
      />
    </el-table>
  </div>
</template>

<script lang="ts">
export default {
  props: ["tableAttrs", "tableData",],
  setup(props: Object, context: any) {
    return {
    };
  },
};
</script>

<style scoped>
.aa {
  margin-bottom: 1%;
}
.selection{
  width: 10px;
}
</style>
