
<template>
  <el-dialog
    ref="ruleFormRef"
    v-model="data.dialogFormVisible"
    title="详情"
    destroy-on-close
    draggable
  >
    <DialogTable
      :tableAttrs="core.tableAttrs"
      :tableData="core.tableData.list"
    ></DialogTable>

    <Pagination
      :pageInfo="core.pageInfo"
      @pageChange="queryInflow"
    ></Pagination>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogCancel">关闭</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script  lang="ts">
import { ref } from "vue";
import DialogTable from "./DialogTable.vue";
import Pagination from "../../components/Pagination.vue";
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
export default {
  props: ["data"],
  emits: ["dialogCancel"],
  components: { Pagination, DialogTable },
  setup(props: any, context: any) {
    const core = ref({
      tableData: { list: [{ id: -1 }] },
      tableAttrs: [
        { prop: "date", label: "日期" },
        { prop: "quantity", label: "数量" },
        { prop: "price", label: "单价" },
        { prop: "name", label: "操作人姓名" },
        { prop: "job", label: "操作人职位" },
        { prop: "roleName", label: "操作人角色" },
      ],
      vaccineID:-1,
      pageInfo: {
        total: 0,
        pageSize: 10,
        currentPage: 0,
      },
    });

    const queryInflow = () => {
      let parameters = {
        startPage: core.value.pageInfo.currentPage,
        pageSize: core.value.pageInfo.pageSize,
        vaccineID: core.value.vaccineID
      };
      queryHttp("api/queryAll/inventory.find.inflow", parameters);
    };

    /**自定义生命周期函数区 */
    const init = (id: number) => {
      core.value.vaccineID=id;
      let parameters = {
        startPage: 1,
        pageSize: 10,
        vaccineID: core.value.vaccineID,
      };
      queryHttp("api/queryAll/inventory.find.inflow", parameters);
    };

    const queryHttp = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.tableData = myData.data;
            core.value.pageInfo.total = myData.data.total;
            core.value.pageInfo.pageSize = myData.data.pageSize;
            core.value.pageInfo.currentPage = myData.data.pageNum;
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
            core.value.tableData = { list: [] };
            core.value.pageInfo.total = 0;
            core.value.pageInfo.currentPage = 0;
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };

    const dialogCancel = () => {
      context.emit("dialogCancel");
    };
    return {
      core,
      dialogCancel,
      queryInflow,
      init,
    };
  },
};
</script>

<style>
.cell-item {
  display: flex;
  align-items: center;
}
</style>