<template>
  <div>
    <!-- 搜索区 -->
    <el-card
      class="search"
      shadow="always"
      :body-style="{
        display: 'flex',
        'align-items': 'center',
        padding: '2px',
        height: '-webkit-fill-available',
        padding: '1%',
      }"
    >
      <el-input
        class="button"
        v-model="core.searchModel"
        placeholder="请输入日期"
        :prefix-icon="Search"
      />
      <el-button class="button" type="primary" @click="search">查询</el-button>
    </el-card>
    <el-card class="table" shadow="always">
      <Table
        :tableAttrs="core.tableAttrs"
        :tableData="core.tableData.list"
        :addExist="false"
        :deleteExist="false"
        @add="add"
        @batchDelete="batchDelete"
        @handleDelete="handleDelete"
        @handleEdit="handleEdit"
      ></Table>
    </el-card>

    <!-- 分页 -->
    <div>
      <Pagination
        :pageInfo="core.pageInfo"
        @pageChange="queryKinds"
      ></Pagination>
    </div>
  </div>
</template>

<script lang='ts'>
import { onMounted, ref } from "vue";
import Pagination from "../../components/Pagination.vue";
import Table from "./Table.vue";
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
import { Search } from "@element-plus/icons-vue";

export default {
  components: { Pagination, Table },
  setup() {
    const core = ref({
      tableData: { list: [] },
      tableAttrs: [
        { prop: "date", label: "日期" },
        { prop: "vaccinatorNum", label: "接种者编号" },
        { prop: "vaccinatorName", label: "接种者姓名" },
        { prop: "processorNum", label: "处理人编号" },
        { prop: "processorName", label: "处理人姓名" },
        { prop: "num", label: "疫苗编号" },
        { prop: "name", label: "疫苗名称" },
        { prop: "unit", label: "单位" },
        { prop: "spec", label: "规格" },
        { prop: "kind", label: "种类" },
        { prop: "suppliersNum", label: "供应商编号" },
        { prop: "suppliersName", label: "供应商名称" },
        { prop: "address", label: "供应商地址" },
        { prop: "quantity", label: "数量" },
        { prop: "price", label: "价格" },
      ],
      pageInfo: {
        total: 0,
        pageSize: 10,
        currentPage: 0,
      },
      searchModel: "",
    });

    /**自定义生命周期函数区 */
    onMounted(() => {
      let parameters = {
        startPage: 1,
        pageSize: 10,
      };
      queryHttp("api/queryAll/vaccinate.record", parameters);
    });
    const queryHttp = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.tableData = myData.data;
            core.value.pageInfo.total = myData.data.total;
            core.value.pageInfo.pageSize = myData.data.pageSize;
            core.value.pageInfo.currentPage = myData.data.pageNum;
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
            core.value.tableData = { list: [] };
            core.value.pageInfo.total = 0;
            core.value.pageInfo.currentPage = 0;
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };

    const search = () => {
      let parameters = {};
      if (core.value.searchModel != "") {
        parameters = {
          startPage: 1,
          pageSize: 10,
          searchModel: core.value.searchModel,
        };
        queryHttp("api/fuzzySearch/vaccinate.record", parameters);
      } else {
        parameters = {
          startPage: 1,
          pageSize: 10,
        };
        queryHttp("api/queryAll/vaccinate.record", parameters);
      }
    };
    return {
      core,
      Search,
      search
    };
  },
};
</script>

<style scoped>
.search {
  /* 方向是上，右 ，下，左*/
  margin: 0.5% 0.5% 0.1% 0.5%;
  height: 10%;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0 4px 4px #00152914;
}

.aa {
  margin-bottom: 1%;
}

.table {
  /* 方向是上，右 ，下，左*/
  margin: 0% 0.5% 0% 0.5%;
  padding: 1%;
}
</style>

