<template>
  <div>
    <el-button
      v-if="deleteExist"
      class="button aa"
      type="primary"
      @click="batchDelete"
      >批量删除</el-button
    >
    <el-button v-if="addExist" class="button aa" type="primary" @click="add"
      >添加</el-button
    >

    <el-table :data="tableData" border >
     <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="序号" fixed></el-table-column>
      <el-table-column
        v-for="(tableAttr, index) in tableAttrs"
        :key="index"
        :prop="tableAttr.prop"
        :label="tableAttr.label"
      />
    </el-table>
  </div>
</template>

<script lang="ts">
export default {
  props: ["tableAttrs", "tableData", "deleteExist", "addExist"],
  emits: ["handleEdit", "handleDelete", "add", "batchDelete"],
  setup(props: Object, context: any) {
    const handleEdit = (index: Number) => {
      context.emit("handleEdit", index);
    };

    const handleDelete = (index: Number) => {
      context.emit("handleDelete", index);
    };

    const add = () => {
      context.emit("add");
    };

    const batchDelete = () => {
      context.emit("batchDelete");
    };
    return {
      add,
      batchDelete,
      handleEdit,
      handleDelete,
    };
  },
};
</script>

<style scoped>
.aa {
  margin-bottom: 1%;
}
.selection{
  width: 10px;
}
</style>
