<template>
  <div>
    <!-- 搜索区 -->
    <el-card
      class="search"
      shadow="always"
      :body-style="{
        display: 'flex',
        'align-items': 'center',
        padding: '2px',
        height: '-webkit-fill-available',
        padding: '1%',
      }"
    >
      <el-input
        class="button"
        v-model="core.searchModel"
        placeholder="请输入疫苗编号或名称或供应商名称"
        :prefix-icon="Search"
      />
      <el-button class="button" type="primary" @click="search">查询</el-button>
    </el-card>

    <el-card class="table" shadow="always">
      <Table
        :tableAttrs="core.tableAttrs"
        :tableData="core.tableData.list"
        @handleIn="handleIn"
      ></Table>
    </el-card>

    <!-- 分页 -->
    <div>
      <Pagination
        :pageInfo="core.pageInfo"
        @pageChange="queryVaccine"
      ></Pagination>
    </div>
    <InDialog
      :data="core"
      @dialogConfirm="dialogConfirm"
      @dialogCancel="dialogCancel"
    ></InDialog>
  </div>
</template>

<script lang='ts'>
import { onMounted, ref } from "vue";
import Pagination from "../../components/Pagination.vue";
import Table from "./Table.vue";
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
import { Search } from "@element-plus/icons-vue";
import InDialog from "./InDialog.vue";
import dayjs from "dayjs";
import store from "../../../../store/index";
class Vaccine {
  id?: Number;
  num: String;
  name: String;
  unit: String;
  spec: String;
  kind: String;
  suppliersID: Number;
  suppliersName: String;
  suppliersNum: String;
  address: String;
  note: String;
  constructor() {
    this.num = "";
    this.name = "";
    this.unit = "";
    this.spec = "";
    this.kind = "";
    this.suppliersName = "";
    this.suppliersNum = "";
    this.address = "";
    this.note = "";
    this.suppliersID = -1;
  }
}

class Inflow {
  vaccine: Vaccine;
  date: String;
  myUserID: Number;
  quantity: Number;
  price: Number;
  constructor() {
    this.vaccine = new Vaccine();
    this.date = "";
    this.myUserID = -1;
    this.quantity = 0;
    this.price = 0;
  }
}

export default {
  components: { Pagination, Table, InDialog },
  setup() {
    const core = ref({
      tableData: { list: [] },
      tableAttrs: [
        { prop: "num", label: "疫苗编号" },
        { prop: "name", label: "疫苗名称" },
        { prop: "unit", label: "单位" },
        { prop: "spec", label: "规格" },
        { prop: "kind", label: "种类" },
        { prop: "suppliersName", label: "供应商名称" },
        { prop: "suppliersNum", label: "供应商编号" },
        { prop: "address", label: "供应商地址" },
        { prop: "note", label: "备注" },
      ],
      dialogFormVisible: false,
      pageInfo: {
        total: 0,
        pageSize: 10,
        currentPage: 0,
      },
      singleRowData: new Inflow(),
      searchModel: "",
    });

    /**自定义生命周期函数区 */
    onMounted(() => {
      let parameters = {
        startPage: 1,
        pageSize: 10,
      };
      queryHttp("api/queryAll/vaccineinfo.vaccine", parameters);
    });

    /**自定义函数区 */
    //点击按钮的时候修改父组件的数据
    const queryVaccine = () => {
      let parameters = {
        startPage: core.value.pageInfo.currentPage,
        pageSize: core.value.pageInfo.pageSize,
      };
      queryHttp("api/queryAll/vaccineinfo.vaccine", parameters);
    };
    const handleIn = (index: number) => {
      core.value.singleRowData = new Inflow();
      core.value.singleRowData.vaccine = core.value.tableData.list[index];
      core.value.singleRowData.date = dayjs().format("YYYY-MM-DD HH:mm:ss");
      core.value.dialogFormVisible = !core.value.dialogFormVisible;
    };

    const search = () => {
      let parameters = {};
      if (core.value.searchModel != "") {
        parameters = {
          startPage: 1,
          pageSize: 10,
          searchModel: core.value.searchModel,
        };
        queryHttp("api/fuzzySearch/vaccineinfo.vaccine", parameters);
      } else {
        parameters = {
          startPage: 1,
          pageSize: 10,
        };
        queryHttp("api/queryAll/vaccineinfo.vaccine", parameters);
      }
    };

    const dialogConfirm = () => {
      let paramters = convert(core.value.singleRowData);
      inVaccine("api/insertNewData/inventory.in", paramters);
    };

    const dialogCancel = () => {
      core.value.dialogFormVisible = false;
      core.value.singleRowData = new Inflow();
    };

    const inVaccine = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.dialogFormVisible = false;
            ElNotification({
              title: "成功",
              message: "成功",
              type: "success",
            });
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };

    const queryHttp = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.tableData = myData.data;
            core.value.pageInfo.total = myData.data.total;
            core.value.pageInfo.pageSize = myData.data.pageSize;
            core.value.pageInfo.currentPage = myData.data.pageNum;
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
            core.value.tableData = { list: [] };
            core.value.pageInfo.total = 0;
            core.value.pageInfo.currentPage = 0;
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };
    const convert = (src: Inflow): any => {
      let target: any = {};
      target.id = null;
      target.vaccineID = src.vaccine.id;
      target.date = src.date;
      target.myUserID = store.getters.getUserInfo.id;
      target.quantity = src.quantity;
      target.price = src.price;
      return target;
    };
    return {
      core,
      Search,
      handleIn,
      search,
      queryVaccine,
      dialogConfirm,
      dialogCancel,
    };
  },
};
</script>

<style scoped>
.search {
  /* 方向是上，右 ，下，左*/
  margin: 0.5% 0.5% 0.1% 0.5%;
  height: 10%;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0 4px 4px #00152914;
}

.aa {
  margin-bottom: 1%;
}

.table {
  /* 方向是上，右 ，下，左*/
  margin: 0% 0.5% 0% 0.5%;
  padding: 1%;
}
</style>

