<template>
  <div>
    <el-table :data="tableData" border >
     <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="序号" fixed></el-table-column>
      <el-table-column
        v-for="(tableAttr, index) in tableAttrs"
        :key="index"
        :prop="tableAttr.prop"
        :label="tableAttr.label"
      />
      <el-table-column fixed="right" label="操作">
        <template #default="scope">
          <el-button
            size="small"
            type="text"
            style="color: red"
            @click.prevent="handleIn(scope.$index)"
            >入库</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
export default {
  props: ["tableAttrs", "tableData",],
  emits: ["handleIn",],
  setup(props: Object, context: any) {
    const handleIn = (index: Number) => {
      context.emit("handleIn", index);
    };
    return {
      handleIn,
    };
  },
};
</script>

<style scoped>
.aa {
  margin-bottom: 1%;
}
.selection{
  width: 10px;
}
</style>
