<template>
  <el-calendar v-model="value" />
</template>

<script lang='ts'>
import { ref } from "vue";
export default {
  setup() {
    const value = ref(new Date());
    return {
      value
    };
  },
};
</script>

<style>
.el-calendar-table .el-calendar-day{
  height: 40px;
}
</style>