<template>
  <div class="welcome">
    <el-card class="top-content">
      <div class="left-mark">
        <el-avatar :src="avatars" :size="33"></el-avatar>
        <span>{{ greetings }}</span>
      </div>
    </el-card>

    <el-row :gutter="24" style="margin: 20px">
      <el-col
        :xs="24"
        :sm="24"
        :md="12"
        :lg="12"
        :xl="12"
        style="margin-bottom: 20px"
        :initial="{
          opacity: 0,
          y: 100
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 200
          }
        }"
      >
        <el-card style="height: 450px">
          <template #header>
            <span style="font-size: 16px; font-weight: 500">日历</span>
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <Calendar />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>

      <el-col
        :xs="24"
        :sm="24"
        :md="12"
        :lg="12"
        :xl="12"
        style="margin-bottom: 20px"
        :initial="{
          opacity: 0,
          y: 100
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 200
          }
        }"
      >
        <el-card style="height: 450px">
          <template #header>
            <span style="font-size: 16px; font-weight: 500"
              >滚动大屏</span
            >
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <Infinite />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>

      <el-col
        :xs="24"
        :sm="24"
        :md="12"
        :lg="8"
        :xl="8"
        style="margin-bottom: 20px"
        :initial="{
          opacity: 0,
          y: 100
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 400
          }
        }"
      >
        <el-card>
          <template #header>
            <span style="font-size: 16px; font-weight: 500"
              >饼图信息</span
            >
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <Pie />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>

      <el-col
        :xs="24"
        :sm="24"
        :md="12"
        :lg="8"
        :xl="8"
        style="margin-bottom: 20px"
        :initial="{
          opacity: 0,
          y: 100
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 400
          }
        }"
      >
        <el-card>
          <template #header>
            <span style="font-size: 16px; font-weight: 500"
              >折线图信息</span
            >
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <Line />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>

      <el-col
        :xs="24"
        :sm="24"
        :md="24"
        :lg="8"
        :xl="8"
        style="margin-bottom: 20px"
        :initial="{
          opacity: 0,
          y: 100
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 400
          }
        }"
      >
        <el-card>
          <template #header>
            <span style="font-size: 16px; font-weight: 500"
              >柱状图信息</span
            >
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <Bar />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script lang='ts'>
import { computed, ref } from "vue";
import Infinite from "./Infinite.vue";
import Bar from "./Bar.vue";
import Line from "./Line.vue";
import Pie from "./Pie.vue";
import Calendar from './Calendar.vue';
export default {
  components: {
    Infinite,
    Bar,
    Line,
    Pie,
    Calendar
  },
  setup() {
    let loading = ref<boolean>(true);

    const avatars = require("@/assets/img/avatars.jpg");

    setTimeout(() => {
      loading.value = !loading.value;
    }, 800);

    let greetings = computed(() => {
      const date: Date = new Date();
      if (date.getHours() >= 0 && date.getHours() < 12) {
        return "上午阳光明媚，祝你事事开心🌞！";
      } else if (date.getHours() >= 12 && date.getHours() < 18) {
        return "下午好，愿你青春不老😃！";
      } else {
        return "折一根天使羽毛，愿拂去您的疲惫烦恼忧伤🌛！";
      }
    });
    return {
      greetings,
      avatars,
      loading,
    };
  },
};
</script>

<style scoped>
.welcome {
  height: 100%;
}
.top-content {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #fff;
}
.left-mark {
  display: flex;
  align-items: center;
}
</style>
