<template>
  <div class="content">
    <ul class="top">
      <li class="li">更新日期</li>
      <li class="li">疫苗名称名称</li>
      <li class="li">Star数量</li>
    </ul>
    <vue3-seamless-scroll :list="list" class="scroll">
      <div class="item" v-for="(item, index) in list" :key="index">
        <span class="span">{{ item.date }}</span>
        <span class="span">{{ item.vaccineName }}</span>
        <span class="span">{{ item.name }}</span>
      </div>
    </vue3-seamless-scroll>
  </div>
</template>
<script>
import { ref } from "vue";
import { Vue3SeamlessScroll } from "vue3-seamless-scroll";
import dayjs from "dayjs";
export default {
  components: {
    Vue3SeamlessScroll,
  },
  setup() {
    const list = ref([
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "卡介苗",
        name: "张**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "脊髓灰质炎活疫苗",
        name: "韩**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "破伤风",
        name: "李**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "白喉",
        name: "欧阳**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "b 型嗜血杆菌",
        name: "赵**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "b 型嗜血杆菌",
        name: "钱**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "b 型嗜血杆菌",
        name: "周**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "腮腺炎混合疫苗",
        name: "邓**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "德国麻疹混合疫苗",
        name: "王**",
      },
      {
        date: dayjs().format("YYYY-MM-DD HH:mm:ss"),
        vaccineName: "德国麻疹混合疫苗",
        name: "刘**",
      },
    ]);
    return { list };
  },
};
</script>

<style>
.content {
  width: 100%;
  height: 50%;
}
.top {
  width: 95%;
  height: 4%;
  line-height: 40px;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  color: #909399;
  font-weight: 400;
  background: #fafafa;
  padding:0;
}
.scroll {
  height: 96%;
  width: 95%;
  overflow: hidden;
}

.li {
  width: 32%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.span {
  width: 34%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.scroll .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
</style>
