<template>
  <div ref="myChart" style="width: 100%; height: 35vh"></div>
</template>

<script lang="ts">
import { onMounted, ref } from "vue";
import * as echarts from "echarts";

export default {
  setup() {
    const myChart = ref<HTMLElement>(); //也可以用const myChart = ref<any>();
    const myCharts = ref<any>();
    onMounted(() => {
      // 绘制图表
      myCharts.value = echarts.init(myChart.value!);
      myCharts.value.setOption({
        grid: {
          bottom: "20%",
          height: "68%",
          containLabel: true,
        },
        tooltip: {
          trigger: "item",
        },
        xAxis: {
          type: "category",
          axisLabel: {
            interval: 0,
          },
          data: ["卡介苗", "破伤风", "麻疹", "白喉"]
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: [3, 204, 1079, 1079],
            type: "line",
            areaStyle: {},
          },
        ],
      });
    });

    return {
      myChart,
    };
  },
};
</script>
