<template>
  <div ref="myChart" style="width: 100%; height: 35vh"></div>
</template>

<script lang="ts">
import { onMounted, ref } from "vue";
import * as echarts from "echarts";

export default {
  setup() {
    const myChart = ref<HTMLElement>(); //也可以用const myChart = ref<any>();
    const myCharts = ref<any>();
    onMounted(() => {
      // 绘制图表
      myCharts.value = echarts.init(myChart.value!);
      myCharts.value.setOption({
        tooltip: {
          trigger: "item",
        },
        legend: {
          orient: "vertical",
          right: true,
        },
        series: [
          {
            name: "Github信息",
            type: "pie",
            radius: "60%",
            center: ["40%", "50%"],
            data: [
              { value: 1079, name: "卡介苗" },
              { value: 1079, name: "破伤风" },
              { value: 204, name: "白喉" },
              { value: 3, name: "麻疹" },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      });
    });

    return {
      myChart,
    };
  },
};
</script>
