
<template>
  <el-dialog
    v-model="data.dialogFormVisible"
    title="编辑"
    destroy-on-close
    draggable
  >
    <el-form ref="ruleFormRef" :model="data.singleRowData" label-width="120px">
      <el-form-item label="序号" prop="id">
        <el-input v-model="data.singleRowData.id" disabled />
      </el-form-item>
      <el-form-item label="员工编号" prop="num" required>
        <el-input v-model="data.singleRowData.num" />
      </el-form-item>
      <el-form-item label="姓名" prop="name" required>
        <el-input v-model="data.singleRowData.name" />
      </el-form-item>
      <el-form-item label="用户名" prop="username" required>
        <el-input v-model="data.singleRowData.username" />
      </el-form-item>
           <el-form-item label="密码" prop="password" required>
        <el-input v-model="data.singleRowData.password" />
      </el-form-item>
           <el-form-item label="工作" prop="job" required>
        <el-input v-model="data.singleRowData.job" />
      </el-form-item>
      <el-form-item label="角色信息" required>
        <el-autocomplete
          placeholder="请输入角色信息"
          :fetch-suggestions="querySearchAsync"
          @select="handleSelect"
          v-model="state"
        />
      </el-form-item>
      <el-form-item>
        <el-descriptions class="margin-top" :column="2" border>
          <el-descriptions-item>
            <template #label>
              <div class="cell-item">
                <el-icon>
                  <user />
                </el-icon>
                角色名称
              </div>
            </template>
            {{ data.singleRowData.roleName }}
          </el-descriptions-item>
          <el-descriptions-item>
            <template #label>
              <div class="cell-item">
                <el-icon>
                  <location />
                </el-icon>
                角色权限
              </div>
            </template>
            {{ data.singleRowData.authority }}
          </el-descriptions-item>
        </el-descriptions>
      </el-form-item>
    </el-form>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogCancel">取消</el-button>
        <el-button type="primary" @click="dialogConfirm">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script lang="ts">
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
import { ref } from "vue";
export default {
  props: ["data"],
  emits: ["dialogConfirm", "dialogCancel", "handleSelect"],
  setup(props: any, context: any) {
    const state = ref("");
    const dialogConfirm = () => {
      context.emit("dialogConfirm");
    };
    const dialogCancel = () => {
      context.emit("dialogCancel");
    };

    const handleSelect = (item: DataItem) => {
      state.value = "";
      context.emit("handleSelect", item.data);
    };
    class DataItem {
      value: String;
      data: Object;
      constructor() {
        this.value = "";
        this.data = {};
      }
    }

    let timeout: NodeJS.Timeout;
    const querySearchAsync = (queryString: string, cb: (arg: any) => void) => {
      let results: DataItem[] = [];
      if (queryString.trim() != "") {
        let parameters = {
          startPage: 1,
          pageSize: 10,
          searchModel: queryString,
        };
        axios
          .post("api/fuzzySearch/userinfo.roles", {
            code: 0,
            data: parameters,
            msg: null,
          })
          .then((res: AxiosResponse) => {
            let myData = res.data;
            if (myData.code == 1000) {
              let data = myData.data.list;
              data.forEach((element: any) => {
                let temp = new DataItem();
                temp.value = element.name;
                temp.data = element;
                results.push(temp);
              });
            }
          })
          .catch((err: any) => {
            ElNotification({
              title: "错误",
              message: err,
              type: "error",
            });
          });
      }
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        cb(results);
      }, 3000 * Math.random());
    };
    return {
      state,
      dialogCancel,
      dialogConfirm,
      querySearchAsync,
      handleSelect,
    };
  },
};
</script>

<style>
.cell-item {
  display: flex;
  align-items: center;
}
</style>