<template>
  <el-form
    ref="loginForm"
    :model="loginUser"
    :rules="rules"
    label-width="100px"
    class="loginForm sign-in-form"
  >
    <el-form-item label="邮箱" prop="username">
      <el-input
        v-model="loginUser.username"
        placeholder="Enter username..."
      ></el-input>
    </el-form-item>
    <el-form-item label="密码" prop="password">
      <el-input
        v-model="loginUser.password"
        type="password"
        placeholder="Enter Password..."
      ></el-input>
    </el-form-item>

    <el-form-item>
      <el-button
        @click="handleLogin()"
        type="primary"
        class="submit-btn"
        >提交</el-button
      >
    </el-form-item>

    <!-- 找回密码 -->
    <div class="tiparea">
      <p>忘记密码？ <a>立即找回</a></p>
    </div>
  </el-form>
</template>

<script lang="ts">
import { getCurrentInstance, ref } from "vue";
import { loginUser } from "../../../utils/loginValidators";
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
import { useRouter } from "vue-router";
import store from "../../../store/index";
export default {
  props: {
    loginUser: {
      type: Object,
      required: true,
    },
    rules: {
      type: Object,
      required: true,
    },
  },
  setup() {
    // @ts-ignore
    const router = useRouter();
    const loginForm =ref();
    // 触发登录方法
    const handleLogin = () => {
      loginForm.value.validate((valid: boolean) => {
        if (valid) {
          axios
            .post("api/login", {
              code: 0,
              data: loginUser.value,
              msg: null,
            })
            .then((res: AxiosResponse) => {
              let myData = res.data;
              if (myData.code == 1000) {
                store.commit("setUserInfo", myData.data);
                 router.push('/home');
              } else {
                ElNotification({
                  title: "错误",
                  message: myData.msg,
                  type: "error",
                });
              }
            })
            .catch((err: any) => {
              ElNotification({
                title: "错误",
                message: err,
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    };

    return { 
      handleLogin,
      loginForm };
  },
};
</script>
<style scoped>
/* form */
.loginForm {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #cccc;
}

.submit-btn {
  width: 100%;
}
.tiparea {
  text-align: right;
  font-size: 12px;
  color: #333;
}
.tiparea p a {
  color: #409eff;
}
</style>
