<template>
  <el-dialog
    v-model="data.dialogFormVisible"
    title="编辑"
    destroy-on-close
    draggable
  >
    <el-form label-position="top" label-width="100px" style="max-width: 460px">
      <el-form-item label="序号">
        <el-input disabled v-model="data.singleRowData.id" />
      </el-form-item>
    </el-form>
    <el-form
      v-for="(tableAttr, index) in data.tableAttrs"
      :key="index"
      label-position="top"
      label-width="100px"
      style="max-width: 460px"
    >
      <el-form-item :label="tableAttr.label">
        <el-input v-model="data.singleRowData[tableAttr.prop]" />
      </el-form-item>
    </el-form>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogCancel">取消</el-button>
        <el-button type="primary" @click="dialogConfirm">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
export default {
  props: ["data"],
  emits: ["dialogConfirm", "dialogCancel"],
  setup(props, context) {
    const dialogConfirm = () => {
      context.emit("dialogConfirm");
    };
    const dialogCancel = () => {
      context.emit("dialogCancel");
    };
    return {
      dialogCancel,
      dialogConfirm,
    };
  },
};
</script>

<style>
</style>