<template>
  <div class="pagination">
    <el-pagination
      background
      layout="total, sizes,prev, pager, next, jumper"
      :page-sizes="[5, 8, 10, 15, 20, 25, 30]"
      v-model:total="pageInfo.total"
      v-model:currentPage="pageInfo.currentPage"
      v-model:page-size="pageInfo.pageSize"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      small
    >
    </el-pagination>
  </div>
</template>

<script>
export default {
  props: ["pageInfo"],
  emits: ["pageChange"],
  setup(props,context) {
    const handleSizeChange = () => {
      context.emit("pageChange");
    };
    const handleCurrentChange = () => {
      context.emit("pageChange");
    };
    return {
      handleSizeChange,
      handleCurrentChange,
    };
  },
};
</script>

<style>
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}
</style>