<template>
  <div>
    <!-- 搜索区 -->
    <el-card
      class="search"
      shadow="always"
      :body-style="{
        display: 'flex',
        'align-items': 'center',
        padding: '2px',
        height: '-webkit-fill-available',
        padding: '1%',
      }"
    >
      <el-input
        class="button"
        v-model="core.searchModel"
        placeholder="请输入库房编号或名称"
        :prefix-icon="Search"
      />
      <el-button class="button" type="primary" @click="search">查询</el-button>
    </el-card>

    <el-card class="table" shadow="always">
      <Table
        :tableAttrs="core.tableAttrs"
        :tableData="core.tableData.list"
        :addExist="true"
        :deleteExist="true"
        @add="add"
        @batchDelete="batchDelete"
        @handleDelete="handleDelete"
        @handleEdit="handleEdit"
      ></Table>
    </el-card>
    <!-- 分页 -->
    <div>
      <Pagination
        :pageInfo="core.pageInfo"
        @pageChange="queryStoreroom"
      ></Pagination>
    </div>
    <Dialog
      :data="core"
      @dialogConfirm="dialogConfirm"
      @dialogCancel="dialogCancel"
    ></Dialog>
  </div>
</template>

<script lang='ts'>
import { onMounted, ref } from "vue";
import Pagination from "../components/Pagination.vue";
import Table from "../components/Table.vue";
import axios, { AxiosResponse } from "axios";
import { ElNotification } from "element-plus";
import Dialog from "../components/Dialog.vue";
import { Search } from '@element-plus/icons-vue';
class Storeroom {
  id?:Number;
  num: String;
  name: String;
  site: String;
  constructor() {
    this.num = "";
    this.name = "";
    this.site = "";
  }
}
export default {
  components: { Pagination, Table, Dialog },
  setup() {
    /**自定义数据区 */
    const core = ref({
      tableData: { list: [] },
      tableAttrs: [
        { prop: "num", label: "库房编号" },
        { prop: "name", label: "库房名称" },
        { prop: "site", label: "库房地址" },
      ],
      dialogFormVisible: false,
      pageInfo: {
        total: 0,
        pageSize: 10,
        currentPage: 0,
      },
      singleRowData: {},
      searchModel: "",
      /**
       * 0：无状态
       * 1：add状态
       * 2：edit状态
       */
      addOrEdit: 0,
    });
    /**自定义生命周期函数区 */
    onMounted(() => {
      let parameters = {
        startPage: 1,
        pageSize: 10,
      };
      queryHttp("api/queryAll/vaccineinfo.storeroom", parameters);
    });
    /**自定义函数区 */
    //点击按钮的时候修改父组件的数据

    const queryStoreroom = () => {
      let parameters = {
        startPage: core.value.pageInfo.currentPage,
        pageSize: core.value.pageInfo.pageSize,
      };
      queryHttp("api/queryAll/vaccineinfo.storeroom", parameters);
    };

    const handleEdit = (index: number) => {
      core.value.addOrEdit = 2;
      core.value.singleRowData = JSON.parse(
        JSON.stringify(core.value.tableData.list[index])
      );
      core.value.dialogFormVisible = !core.value.dialogFormVisible;
    };

    const handleDelete = (index: number) => {
      ElNotification({
        title: "错误",
        message: "基础元数据禁止删除",
        type: "error",
      });
    };

    const add = () => {
      core.value.addOrEdit = 1;
      core.value.singleRowData = {};
      core.value.dialogFormVisible = !core.value.dialogFormVisible;
    };

    const batchDelete = () => {
      ElNotification({
        title: "错误",
        message: "基础元数据禁止删除",
        type: "error",
      });
    };

    const search = () => {
      let parameters = {};
      if (core.value.searchModel != "") {
        parameters = {
          startPage: 1,
          pageSize: 10,
          searchModel: core.value.searchModel,
        };
        queryHttp("api/fuzzySearch/vaccineinfo.storeroom", parameters);
      } else {
        parameters = {
          startPage: 1,
          pageSize: 10,
        };
        queryHttp("api/queryAll/vaccineinfo.storeroom", parameters);
      }
    };

    const dialogConfirm = () => {
      if (core.value.addOrEdit == 1) {
        addOrEditHttp(
          "api/insertNewData/vaccineinfo.storeroom",
          core.value.singleRowData
        );
      }
      if (core.value.addOrEdit == 2) {
        addOrEditHttp(
          "api/updateData/vaccineinfo.storeroom",
          core.value.singleRowData
        );
      }
    };

    const dialogCancel = () => {
      core.value.addOrEdit = 0;
      core.value.dialogFormVisible = false;
      core.value.singleRowData = {};
    };

    const addOrEditHttp = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.addOrEdit = 0;
            core.value.dialogFormVisible = false;
            ElNotification({
              title: "成功",
              message: "成功",
              type: "success",
            });
            let parameters = {
              startPage: core.value.pageInfo.currentPage,
              pageSize: core.value.pageInfo.pageSize,
            };
            queryHttp("api/queryAll/vaccineinfo.storeroom", parameters);
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };

    const queryHttp = (url: string, parameters: Object) => {
      axios
        .post(url, {
          code: 0,
          data: parameters,
          msg: null,
        })
        .then((res: AxiosResponse) => {
          let myData = res.data;
          if (myData.code == 1000) {
            core.value.tableData = myData.data;
            core.value.pageInfo.total = myData.data.total;
            core.value.pageInfo.pageSize = myData.data.pageSize;
            core.value.pageInfo.currentPage = myData.data.pageNum;
          } else {
            ElNotification({
              title: "错误",
              message: myData.code + " " + myData.msg,
              type: "error",
            });
            core.value.tableData = { list: [] };
            core.value.pageInfo.total = 0;
            core.value.pageInfo.currentPage = 0;
          }
        })
        .catch((err: any) => {
          ElNotification({
            title: "错误",
            message: err,
            type: "error",
          });
        });
    };
    return {
      core,
      Search,
      handleEdit,
      handleDelete,
      add,
      batchDelete,
      search,
      queryStoreroom,
      dialogConfirm,
      dialogCancel,
    };
  },
};
</script>

<style scoped>
.search {
  /* 方向是上，右 ，下，左*/
  margin: 0.5% 0.5% 0.1% 0.5%;
  height: 10%;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0 4px 4px #00152914;
}

.aa {
  margin-bottom: 1%;
}

.table {
  /* 方向是上，右 ，下，左*/
  margin: 0% 0.5% 0% 0.5%;
  padding: 1%;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>

