<template>
  <div>
    <el-row :gutter="24" style="margin: 20px">
      <el-col
        :xs="24"
        :sm="24"
        :md="12"
        :lg="12"
        :xl="12"
        :initial="{
          opacity: 0,
          y: 100,
        }"
        :enter="{
          opacity: 1,
          y: 0,
          transition: {
            delay: 200,
          },
        }"
      >
        <el-card>
          <template #header>
            <span style="font-size: 16px; font-weight: 500">个人基本信息</span>
          </template>
          <el-skeleton animated :rows="7" :loading="loading">
            <template #default>
              <MyInfo />
            </template>
          </el-skeleton>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script lang='ts'>
import MyInfo from "./PersionInfo.vue";
import { ref } from 'vue';
export default {
  components: {
    MyInfo,
  },
  setup() {
    let loading = ref<boolean>(true);

    setTimeout(() => {
      loading.value = !loading.value;
    }, 800);
    return {
      loading
    };
  },
};
</script>

<style scoped>
</style>
