<script lang="ts">
import { ref } from "vue";
import store from "../../../store/index";
export default {
  setup() {
    const userInfo = store.getters.getUserInfo;
    const lists = ref([
      { type: "", label: "善良" },
      { type: "success", label: "好学" },
      { type: "info", label: "幽默" },
      { type: "danger", label: "旅游" },
      { type: "warning", label: "追剧" },
    ]);
    return {
      lists,
      userInfo,
    };
  },
};
</script>

<template>
  <el-descriptions class="margin-top" direction="vertical" :column="4" border>
    <el-descriptions-item>
      <template #label>
        <el-icon><house /></el-icon>
        用户名
      </template>
      {{ userInfo.username }}
    </el-descriptions-item>
    <el-descriptions-item>
      <template #label>
        <el-icon>
          <user />
        </el-icon>
        姓名
      </template>
      {{ userInfo.name }}
    </el-descriptions-item>
    <el-descriptions-item>
      <template #label>
        <el-icon><coordinate /></el-icon>
        角色
      </template>
      {{ userInfo.roleName }}
    </el-descriptions-item>
    <el-descriptions-item>
      <template #label>
        <el-icon><postcard /></el-icon>
        职位
      </template>
      {{ userInfo.job }}
    </el-descriptions-item>
  </el-descriptions>
  <el-descriptions class="margin-top" direction="vertical" :column="2" border>
    <el-descriptions-item>
      <template #label>
        <el-icon>
          <el-icon><tickets /></el-icon>
        </el-icon>
        标签
      </template>
      <el-tag
        v-for="item in lists"
        :key="item.label"
        :type="item.type"
        size="small"
        effect="dark"
      >
        {{ item.label }}
      </el-tag>
    </el-descriptions-item>
    <el-descriptions-item>
      <template #label>
        <el-icon><home-filled /></el-icon>
        联系地址
      </template>
      福建省厦门市
    </el-descriptions-item>
  </el-descriptions>

  <el-descriptions class="margin-top" direction="vertical" :column="1" border>
    <el-descriptions-item>
      <template #label>
        <el-icon><notebook /></el-icon>
        留言
      </template>
      好好学习，天天向上
    </el-descriptions-item>
  </el-descriptions>
</template>

<style scoped>
.el-tag {
  margin-right: 10px !important;
}
</style>
